# UES workload analysis

In [1]:
import json
import re
import warnings

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("workloads/job-ues-results-orig-nofk.csv")
df = df[df.run == 1].copy()
df.query_result = df.query_result.apply(json.loads)
df

,label,query,flattened_query,query_result,query_rt_total,run
0,1a,select count(*) from movie_companies as mc j...,SELECT COUNT(*) FROM movie_companies AS mc JOI...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.297587,1
1,1b,select count(*) from movie_info_idx as mi_idx...,SELECT COUNT(*) FROM movie_info_idx AS mi_idx ...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.225469,1
2,1c,select count(*) from movie_companies as mc j...,SELECT COUNT(*) FROM movie_companies AS mc JOI...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.254706,1
3,1d,select count(*) from movie_info_idx as mi_idx...,SELECT COUNT(*) FROM movie_info_idx AS mi_idx ...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.208007,1
4,2a,select count(*) from movie_keyword as mk joi...,SELECT COUNT(*) FROM movie_keyword AS mk JOIN ...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.547452,1
...,...,...,...,...,...,...
108,32a,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.274688,1
109,32b,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.289307,1
110,33a,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.443636,1
111,33b,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.435970,1
112,33c,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.443969,1

In [3]:
from transform import db, mosp

In [4]:
p = df.iloc[0].query_result
p

[{'Plan': {'Node Type': 'Aggregate',
   'Strategy': 'Plain',
   'Partial Mode': 'Simple',
   'Parallel Aware': False,
   'Async Capable': False,
   'Startup Cost': 54217.81,
   'Total Cost': 54217.82,
   'Plan Rows': 1,
   'Plan Width': 8,
   'Actual Startup Time': 291.988,
   'Actual Total Time': 294.612,
   'Actual Rows': 1,
   'Actual Loops': 1,
   'Plans': [{'Node Type': 'Gather',
     'Parent Relationship': 'Outer',
     'Parallel Aware': False,
     'Async Capable': False,
     'Startup Cost': 38947.44,
     'Total Cost': 54217.81,
     'Plan Rows': 1,
     'Plan Width': 0,
     'Actual Startup Time': 291.686,
     'Actual Total Time': 294.599,
     'Actual Rows': 143,
     'Actual Loops': 1,
     'Workers Planned': 2,
     'Workers Launched': 2,
     'Single Copy': False,
     'Plans': [{'Node Type': 'Hash Join',
       'Parent Relationship': 'Outer',
       'Parallel Aware': True,
       'Async Capable': False,
       'Join Type': 'Inner',
       'Startup Cost': 37947.44,
       'Total Cost': 53217.71,
       'Plan Rows': 1,
       'Plan Width': 0,
       'Actual Startup Time': 289.495,
       'Actual Total Time': 289.556,
       'Actual Rows': 48,
       'Actual Loops': 3,
       'Inner Unique': False,
       'Hash Cond': '(mi_idx.movie_id = t.id)',
       'Workers': [],
       'Plans': [{'Node Type': 'Hash Join',
         'Parent Relationship': 'Outer',
         'Parallel Aware': False,
         'Async Capable': False,
         'Join Type': 'Inner',
         'Startup Cost': 2.43,
         'Total Cost': 15253.6,
         'Plan Rows': 5089,
         'Plan Width': 4,
         'Actual Startup Time': 64.871,
         'Actual Total Time': 64.89,
         'Actual Rows': 83,
         'Actual Loops': 3,
         'Inner Unique': True,
         'Hash Cond': '(mi_idx.info_type_id = it.id)',
         'Workers': [],
         'Plans': [{'Node Type': 'Seq Scan',
           'Parent Relationship': 'Outer',
           'Parallel Aware': True,
           'Async Capable': False,
           'Relation Name': 'movie_info_idx',
           'Alias': 'mi_idx',
           'Startup Cost': 0.0,
           'Total Cost': 13685.15,
           'Plan Rows': 575015,
           'Plan Width': 8,
           'Actual Startup Time': 0.042,
           'Actual Total Time': 31.488,
           'Actual Rows': 460012,
           'Actual Loops': 3,
           'Workers': []},
          {'Node Type': 'Hash',
           'Parent Relationship': 'Inner',
           'Parallel Aware': False,
           'Async Capable': False,
           'Startup Cost': 2.41,
           'Total Cost': 2.41,
           'Plan Rows': 1,
           'Plan Width': 4,
           'Actual Startup Time': 0.019,
           'Actual Total Time': 0.019,
           'Actual Rows': 1,
           'Actual Loops': 3,
           'Hash Buckets': 1024,
           'Original Hash Buckets': 1024,
           'Hash Batches': 1,
           'Original Hash Batches': 1,
           'Peak Memory Usage': 9,
           'Workers': [],
           'Plans': [{'Node Type': 'Seq Scan',
             'Parent Relationship': 'Outer',
             'Parallel Aware': False,
             'Async Capable': False,
             'Relation Name': 'info_type',
             'Alias': 'it',
             'Startup Cost': 0.0,
             'Total Cost': 2.41,
             'Plan Rows': 1,
             'Plan Width': 4,
             'Actual Startup Time': 0.016,
             'Actual Total Time': 0.016,
             'Actual Rows': 1,
             'Actual Loops': 3,
             'Filter': "((info)::text = 'top 250 rank'::text)",
             'Rows Removed by Filter': 112,
             'Workers': []}]}]},
        {'Node Type': 'Hash',
         'Parent Relationship': 'Inner',
         'Parallel Aware': True,
         'Async Capable': False,
         'Startup Cost': 37944.57,
         'Total Cost': 37944.57,
         'Plan Rows': 36,
         'Plan Width': 8,
         'Actual Startup Time': 224.225,
         'Actual Total Time': 224.227,
         'Actual Rows': 9568,
         'Actual Loops': 3,
         'Hash Buckets': 32768,
         'Original Hash Buckets': 1024,
         'Hash Batches': 1,
         'Original Hash Batches': 1,
         'Peak Memory Usage': 1688,
         'Workers': [],
         'Plans': [{'Node Type': 'Nested Loop',
           'Parent Relationship': 'Outer',
           'Parallel Aware': False,
           'Async Capable': False,
           'Join Type': 'Inner',
           'Startup Cost': 19.36,
           'Total Cost': 37944.57,
           'Plan Rows': 36,
           'Plan Width': 8,
           'Actual Startup Time': 139.281,
           'Actual Total Time': 207.073,
           'Actual Rows': 9568,
           'Actual Loops': 3,
           'Inner Unique': True,
           'Workers': [],
           'Plans': [{'Node Type': 'Hash Join',
             'Parent Relationship': 'Outer',
             'Parallel Aware': False,
             'Async Capable': False,
             'Join Type': 'Inner',
             'Startup Cost': 18.93,
             'Total Cost': 37850.7,
             'Plan Rows': 36,
             'Plan Width': 4,
             'Actual Startup Time': 139.238,
             'Actual Total Time': 188.04,
             'Actual Rows': 9568,
             'Actual Loops': 3,
             'Inner Unique': True,
             'Hash Cond': '(mc.company_type_id = ct.id)',
             'Workers': [],
             'Plans': [{'Node Type': 'Seq Scan',
               'Parent Relationship': 'Outer',
               'Parallel Aware': True,
               'Async Capable': False,
               'Relation Name': 'movie_companies',
               'Alias': 'mc',
               'Startup Cost': 0.0,
               'Total Cost': 37814.9,
               'Plan Rows': 6392,
               'Plan Width': 8,
               'Actual Startup Time': 15.619,
               'Actual Total Time': 186.516,
               'Actual Rows': 9645,
               'Actual Loops': 3,
               'Filter': "(((note)::text !~~ '%(as metro-goldwyn-mayer pictures)%'::text) AND (((note)::text ~~ '%(co-production)%'::text) OR ((note)::text ~~ '%(presents)%'::text)))",
               'Rows Removed by Filter': 860065,
               'Workers': []},
              {'Node Type': 'Hash',
               'Parent Relationship': 'Inner',
               'Parallel Aware': False,
               'Async Capable': False,
               'Startup Cost': 18.88,
               'Total Cost': 18.88,
               'Plan Rows': 4,
               'Plan Width': 4,
               'Actual Startup Time': 0.031,
               'Actual Total Time': 0.032,
               'Actual Rows': 1,
               'Actual Loops': 3,
               'Hash Buckets': 1024,
               'Original Hash Buckets': 1024,
               'Hash Batches': 1,
               'Original Hash Batches': 1,
               'Peak Memory Usage': 9,
               'Workers': [],
               'Plans': [{'Node Type': 'Seq Scan',
                 'Parent Relationship': 'Outer',
                 'Parallel Aware': False,
                 'Async Capable': False,
                 'Relation Name': 'company_type',
                 'Alias': 'ct',
                 'Startup Cost': 0.0,
                 'Total Cost': 18.88,
                 'Plan Rows': 4,
                 'Plan Width': 4,
                 'Actual Startup Time': 0.025,
                 'Actual Total Time': 0.026,
                 'Actual Rows': 1,
                 'Actual Loops': 3,
                 'Filter': "((kind)::text = 'production companies'::text)",
                 'Rows Removed by Filter': 3,
                 'Workers': []}]}]},
            {'Node Type': 'Index Only Scan',
             'Parent Relationship': 'Inner',
             'Parallel Aware': False,
             'Async Capable': False,
             'Scan Direction': 'Forward',
             'Index Name': 'title_pkey',
             'Relation Name': 'title',
             'Alias': 't',
             'Startup Cost': 0.43,
             'Total Cost': 2.61,
             'Plan Rows': 1,
             'Plan Width': 4,
             'Actual Startup Time': 0.002,
             'Actual Total Time': 0.002,
             'Actual Rows': 1,
             'Actual Loops': 28703,
             'Index Cond': '(id = mc.movie_id)',
             'Rows Removed by Index Recheck': 0,
             'Heap Fetches': 0,
             'Workers': []}]}]}]}]}]},
  'Planning Time': 1.327,
  'Triggers': [],
  'Execution Time': 294.715}]

In [5]:
q = mosp.MospQuery.parse(df.iloc[0]["query"])
q

SELECT COUNT(*) FROM movie_companies AS mc JOIN company_type AS ct ON ct.kind = 'production companies' AND ct.id = mc.company_type_id AND mc.note NOT LIKE '%(as metro-goldwyn-mayer pictures)%' AND (mc.note LIKE '%(co-production)%' OR mc.note LIKE '%(presents)%') JOIN title AS t ON t.id = mc.movie_id JOIN (SELECT movie_id FROM movie_info_idx AS mi_idx JOIN info_type AS it ON it.info = 'top 250 rank' AND it.id = mi_idx.info_type_id) AS t_mi_idx ON t_mi_idx.movie_id = mc.movie_id

In [6]:
eap = db.parse_explain_analyze(q, p)
print(eap.pretty_print())

Hash Join (mi_idx.movie_id = t.id)
  <- [SQ] Hash Join (mi_idx.info_type_id = it.id)
    <- Seq Scan :: movie_info_idx
    <- Seq Scan :: info_type
  <- Nested Loop (t.id = mc.movie_id)
    <- Hash Join (mc.company_type_id = ct.id)
      <- Seq Scan :: movie_companies
      <- Seq Scan :: company_type
    <- Index Only Scan :: title

In [24]:
def calculate_subquery_rows(parse_tree, *, target_predicate=""):
    if not target_predicate and parse_tree.is_subquery():
        parent = parse_tree.parent if parse_tree.parent else parse_tree
        left, right = parent.left, parent.right
        return parent, left.proc_rows + right.proc_rows
    elif target_predicate and db.compare_predicate_strs(parse_tree.join_pred, target_predicate):
        parent = parse_tree.parent if parse_tree.parent else parse_tree
        left, right = parent.left, parent.right
        return parent, left.proc_rows + right.proc_rows
    elif target_predicate:
        print(f"{target_predicate} does not match {parse_tree.join_pred}")

    if not parse_tree.children:
        return None
    child_rows = [calculate_subquery_rows(child) for child in parse_tree.children]
    filtered = [c for c in child_rows if c]
    return db._simplify_plan_tree(filtered) if filtered else None

In [8]:
calculate_subquery_rows(eap)

(Hash Join (mi_idx.info_type_id = it.id) <- [Seq Scan :: movie_info_idx, Seq Scan :: info_type],
 9651)

In [9]:
df_trans = pd.read_csv("workloads/job-ues-results-flattened-nofk.csv")
df_trans = df_trans[df_trans.run == 1].copy()
df_trans.flattened_query_result = df_trans.flattened_query_result.apply(json.loads)
df_trans

,label,query,flattened_query,flattened_query_result,flattened_query_rt_total,run
0,1a,select count(*) from movie_companies as mc j...,SELECT COUNT(*) FROM movie_companies AS mc JOI...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.323265,1
1,1b,select count(*) from movie_info_idx as mi_idx...,SELECT COUNT(*) FROM movie_info_idx AS mi_idx ...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.211456,1
2,1c,select count(*) from movie_companies as mc j...,SELECT COUNT(*) FROM movie_companies AS mc JOI...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.271575,1
3,1d,select count(*) from movie_info_idx as mi_idx...,SELECT COUNT(*) FROM movie_info_idx AS mi_idx ...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.209004,1
4,2a,select count(*) from movie_keyword as mk joi...,SELECT COUNT(*) FROM movie_keyword AS mk JOIN ...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.558684,1
...,...,...,...,...,...,...
108,32a,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.626275,1
109,32b,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.612061,1
110,33a,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.416346,1
111,33b,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.403899,1
112,33c,select count(*) from movie_link as ml join l...,SELECT COUNT(*) FROM movie_link AS ml JOIN lin...,"[{'Plan': {'Node Type': 'Aggregate', 'Strategy...",0.421134,1

In [10]:
p_trans = df_trans.iloc[0].flattened_query_result
p_trans

[{'Plan': {'Node Type': 'Aggregate',
   'Strategy': 'Plain',
   'Partial Mode': 'Simple',
   'Parallel Aware': False,
   'Async Capable': False,
   'Startup Cost': 54787.57,
   'Total Cost': 54787.58,
   'Plan Rows': 1,
   'Plan Width': 8,
   'Actual Startup Time': 319.468,
   'Actual Total Time': 320.876,
   'Actual Rows': 1,
   'Actual Loops': 1,
   'Plans': [{'Node Type': 'Gather',
     'Parent Relationship': 'Outer',
     'Parallel Aware': False,
     'Async Capable': False,
     'Startup Cost': 38945.17,
     'Total Cost': 54787.57,
     'Plan Rows': 1,
     'Plan Width': 0,
     'Actual Startup Time': 319.167,
     'Actual Total Time': 320.864,
     'Actual Rows': 143,
     'Actual Loops': 1,
     'Workers Planned': 2,
     'Workers Launched': 2,
     'Single Copy': False,
     'Plans': [{'Node Type': 'Nested Loop',
       'Parent Relationship': 'Outer',
       'Parallel Aware': False,
       'Async Capable': False,
       'Join Type': 'Inner',
       'Startup Cost': 37945.17,
       'Total Cost': 53787.47,
       'Plan Rows': 1,
       'Plan Width': 0,
       'Actual Startup Time': 316.955,
       'Actual Total Time': 316.997,
       'Actual Rows': 48,
       'Actual Loops': 3,
       'Inner Unique': True,
       'Workers': [],
       'Plans': [{'Node Type': 'Hash Join',
         'Parent Relationship': 'Outer',
         'Parallel Aware': True,
         'Async Capable': False,
         'Join Type': 'Inner',
         'Startup Cost': 37945.02,
         'Total Cost': 53786.55,
         'Plan Rows': 20,
         'Plan Width': 4,
         'Actual Startup Time': 234.259,
         'Actual Total Time': 312.327,
         'Actual Rows': 20718,
         'Actual Loops': 3,
         'Inner Unique': False,
         'Hash Cond': '(mi_idx.movie_id = t.id)',
         'Workers': [],
         'Plans': [{'Node Type': 'Seq Scan',
           'Parent Relationship': 'Outer',
           'Parallel Aware': True,
           'Async Capable': False,
           'Relation Name': 'movie_info_idx',
           'Alias': 'mi_idx',
           'Startup Cost': 0.0,
           'Total Cost': 13685.15,
           'Plan Rows': 575015,
           'Plan Width': 8,
           'Actual Startup Time': 0.035,
           'Actual Total Time': 32.746,
           'Actual Rows': 460012,
           'Actual Loops': 3,
           'Workers': []},
          {'Node Type': 'Hash',
           'Parent Relationship': 'Inner',
           'Parallel Aware': True,
           'Async Capable': False,
           'Startup Cost': 37944.57,
           'Total Cost': 37944.57,
           'Plan Rows': 36,
           'Plan Width': 8,
           'Actual Startup Time': 233.401,
           'Actual Total Time': 233.403,
           'Actual Rows': 9568,
           'Actual Loops': 3,
           'Hash Buckets': 32768,
           'Original Hash Buckets': 1024,
           'Hash Batches': 1,
           'Original Hash Batches': 1,
           'Peak Memory Usage': 1688,
           'Workers': [],
           'Plans': [{'Node Type': 'Nested Loop',
             'Parent Relationship': 'Outer',
             'Parallel Aware': False,
             'Async Capable': False,
             'Join Type': 'Inner',
             'Startup Cost': 19.36,
             'Total Cost': 37944.57,
             'Plan Rows': 36,
             'Plan Width': 8,
             'Actual Startup Time': 144.094,
             'Actual Total Time': 214.126,
             'Actual Rows': 9568,
             'Actual Loops': 3,
             'Inner Unique': True,
             'Workers': [],
             'Plans': [{'Node Type': 'Hash Join',
               'Parent Relationship': 'Outer',
               'Parallel Aware': False,
               'Async Capable': False,
               'Join Type': 'Inner',
               'Startup Cost': 18.93,
               'Total Cost': 37850.7,
               'Plan Rows': 36,
               'Plan Width': 4,
               'Actual Startup Time': 144.058,
               'Actual Total Time': 188.891,
               'Actual Rows': 9568,
               'Actual Loops': 3,
               'Inner Unique': True,
               'Hash Cond': '(mc.company_type_id = ct.id)',
               'Workers': [],
               'Plans': [{'Node Type': 'Seq Scan',
                 'Parent Relationship': 'Outer',
                 'Parallel Aware': True,
                 'Async Capable': False,
                 'Relation Name': 'movie_companies',
                 'Alias': 'mc',
                 'Startup Cost': 0.0,
                 'Total Cost': 37814.9,
                 'Plan Rows': 6392,
                 'Plan Width': 8,
                 'Actual Startup Time': 21.431,
                 'Actual Total Time': 187.187,
                 'Actual Rows': 9645,
                 'Actual Loops': 3,
                 'Filter': "(((note)::text !~~ '%(as metro-goldwyn-mayer pictures)%'::text) AND (((note)::text ~~ '%(co-production)%'::text) OR ((note)::text ~~ '%(presents)%'::text)))",
                 'Rows Removed by Filter': 860065,
                 'Workers': []},
                {'Node Type': 'Hash',
                 'Parent Relationship': 'Inner',
                 'Parallel Aware': False,
                 'Async Capable': False,
                 'Startup Cost': 18.88,
                 'Total Cost': 18.88,
                 'Plan Rows': 4,
                 'Plan Width': 4,
                 'Actual Startup Time': 0.024,
                 'Actual Total Time': 0.025,
                 'Actual Rows': 1,
                 'Actual Loops': 3,
                 'Hash Buckets': 1024,
                 'Original Hash Buckets': 1024,
                 'Hash Batches': 1,
                 'Original Hash Batches': 1,
                 'Peak Memory Usage': 9,
                 'Workers': [],
                 'Plans': [{'Node Type': 'Seq Scan',
                   'Parent Relationship': 'Outer',
                   'Parallel Aware': False,
                   'Async Capable': False,
                   'Relation Name': 'company_type',
                   'Alias': 'ct',
                   'Startup Cost': 0.0,
                   'Total Cost': 18.88,
                   'Plan Rows': 4,
                   'Plan Width': 4,
                   'Actual Startup Time': 0.018,
                   'Actual Total Time': 0.019,
                   'Actual Rows': 1,
                   'Actual Loops': 3,
                   'Filter': "((kind)::text = 'production companies'::text)",
                   'Rows Removed by Filter': 3,
                   'Workers': []}]}]},
              {'Node Type': 'Index Only Scan',
               'Parent Relationship': 'Inner',
               'Parallel Aware': False,
               'Async Capable': False,
               'Scan Direction': 'Forward',
               'Index Name': 'title_pkey',
               'Relation Name': 'title',
               'Alias': 't',
               'Startup Cost': 0.43,
               'Total Cost': 2.61,
               'Plan Rows': 1,
               'Plan Width': 4,
               'Actual Startup Time': 0.002,
               'Actual Total Time': 0.002,
               'Actual Rows': 1,
               'Actual Loops': 28703,
               'Index Cond': '(id = mc.movie_id)',
               'Rows Removed by Index Recheck': 0,
               'Heap Fetches': 0,
               'Workers': []}]}]}]},
        {'Node Type': 'Memoize',
         'Parent Relationship': 'Inner',
         'Parallel Aware': False,
         'Async Capable': False,
         'Startup Cost': 0.15,
         'Total Cost': 0.17,
         'Plan Rows': 1,
         'Plan Width': 4,
         'Actual Startup Time': 0.0,
         'Actual Total Time': 0.0,
         'Actual Rows': 0,
         'Actual Loops': 62153,
         'Cache Key': 'mi_idx.info_type_id',
         'Cache Mode': 'logical',
         'Cache Hits': 20759,
         'Cache Misses': 5,
         'Cache Evictions': 0,
         'Cache Overflows': 0,
         'Peak Memory Usage': 1,
         'Workers': [{'Worker Number': 0,
           'Cache Hits': 20650,
           'Cache Misses': 4,
           'Cache Evictions': 0,
           'Cache Overflows': 0,
           'Peak Memory Usage': 1},
          {'Worker Number': 1,
           'Cache Hits': 20732,
           'Cache Misses': 3,
           'Cache Evictions': 0,
           'Cache Overflows': 0,
           'Peak Memory Usage': 1}],
         'Plans': [{'Node Type': 'Index Scan',
           'Parent Relationship': 'Outer',
           'Parallel Aware': False,
           'Async Capable': False,
           'Scan Direction': 'Forward',
           'Index Name': 'info_type_pkey',
           'Relation Name': 'info_type',
           'Alias': 'it',
           'Startup Cost': 0.14,
           'Total Cost': 0.16,
           'Plan Rows': 1,
           'Plan Width': 4,
           'Actual Startup Time': 0.006,
           'Actual Total Time': 0.006,
           'Actual Rows': 0,
           'Actual Loops': 12,
           'Index Cond': '(id = mi_idx.info_type_id)',
           'Rows Removed by Index Recheck': 0,
           'Filter': "((info)::text = 'top 250 rank'::text)",
           'Rows Removed by Filter': 1,
           'Workers': []}]}]}]}]},
  'Planning Time': 1.043,
  'Triggers': [],
  'Execution Time': 320.984}]

In [11]:
q_trans = mosp.MospQuery.parse(df_trans.iloc[0]["query"])
q_trans

SELECT COUNT(*) FROM movie_companies AS mc JOIN company_type AS ct ON ct.kind = 'production companies' AND ct.id = mc.company_type_id AND mc.note NOT LIKE '%(as metro-goldwyn-mayer pictures)%' AND (mc.note LIKE '%(co-production)%' OR mc.note LIKE '%(presents)%') JOIN title AS t ON t.id = mc.movie_id JOIN (SELECT movie_id FROM movie_info_idx AS mi_idx JOIN info_type AS it ON it.info = 'top 250 rank' AND it.id = mi_idx.info_type_id) AS t_mi_idx ON t_mi_idx.movie_id = mc.movie_id

In [12]:
eap_trans = db.parse_explain_analyze(q_trans, p_trans, with_subqueries=False)
print(eap_trans.pretty_print())

Nested Loop (it.id = mi_idx.info_type_id)
  <- Hash Join (mi_idx.movie_id = t.id)
    <- Seq Scan :: movie_info_idx
    <- Nested Loop (t.id = mc.movie_id)
      <- Hash Join (mc.company_type_id = ct.id)
        <- Seq Scan :: movie_companies
        <- Seq Scan :: company_type
      <- Index Only Scan :: title
  <- Index Scan :: info_type

In [13]:
print(eap.pretty_print())

Hash Join (mi_idx.movie_id = t.id)
  <- [SQ] Hash Join (mi_idx.info_type_id = it.id)
    <- Seq Scan :: movie_info_idx
    <- Seq Scan :: info_type
  <- Nested Loop (t.id = mc.movie_id)
    <- Hash Join (mc.company_type_id = ct.id)
      <- Seq Scan :: movie_companies
      <- Seq Scan :: company_type
    <- Index Only Scan :: title

In [14]:
eap_trans.left

Hash Join (mi_idx.movie_id = t.id) <- [Seq Scan :: movie_info_idx, Nested Loop (t.id = mc.movie_id) <- [Hash Join (mc.company_type_id = ct.id) <- [Seq Scan :: movie_companies, Seq Scan :: company_type], Index Only Scan :: title]]

In [15]:
eap_trans.right

Index Scan :: info_type

In [16]:
eap_trans.left.proc_rows + eap_trans.right.proc_rows

20718

In [22]:
calculate_subquery_rows(eap)

(Hash Join (mi_idx.movie_id = t.id) <- [Hash Join (mi_idx.info_type_id = it.id) <- [Seq Scan :: movie_info_idx, Seq Scan :: info_type], Nested Loop (t.id = mc.movie_id) <- [Hash Join (mc.company_type_id = ct.id) <- [Seq Scan :: movie_companies, Seq Scan :: company_type], Index Only Scan :: title]],
 9651,
 Hash Join (mi_idx.info_type_id = it.id) <- [Seq Scan :: movie_info_idx, Seq Scan :: info_type])

In [23]:
calculate_subquery_rows(eap_trans, target_predicate="(mi_idx.info_type_id = it.id)")

(Nested Loop (it.id = mi_idx.info_type_id) <- [Hash Join (mi_idx.movie_id = t.id) <- [Seq Scan :: movie_info_idx, Nested Loop (t.id = mc.movie_id) <- [Hash Join (mc.company_type_id = ct.id) <- [Seq Scan :: movie_companies, Seq Scan :: company_type], Index Only Scan :: title]], Index Scan :: info_type],
 20718,
 Nested Loop (it.id = mi_idx.info_type_id) <- [Hash Join (mi_idx.movie_id = t.id) <- [Seq Scan :: movie_info_idx, Nested Loop (t.id = mc.movie_id) <- [Hash Join (mc.company_type_id = ct.id) <- [Seq Scan :: movie_companies, Seq Scan :: company_type], Index Only Scan :: title]], Index Scan :: info_type])